<div class="row">
    <div class="input-group col-md-4">
      <input class="form-control" [(ngModel)]="searchname" #ctrl="ngModel" required placeholder="Enter text to search">
      <button type="submit" class="btn btn-primary" (click)="search()">Search</button>
    </div>
    <div class="col-md-4" style="text-align:center">Total hits:
      <span class="badge badge-light">{{collectionSize}} </span>
    </div>
  </div>
  
  <br>
  <div class="row">
    <div class="col">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">sender</th>
            <th scope="col">subject</th>
            <th scope="col">text</th>
            <th scope="col">date</th>
  
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let mail of mails">
            <th scope="row">
              <a routerLink="/mail/{{mail.id}}">{{mail.id}}</a>
  
            </th>
            <td>{{ mail.sender | slice:0:18}}</td>
            <td>{{ mail.subject | slice:0:30}}</td>
            <td>{{ mail.text | slice:0:40}} </td>
            <td>{{ mail.date}}</td>
          </tr>
        </tbody>
      </table>
  
    </div>
  </div>
  <div class="row">
    <div class="col">
  
      <div class="d-flex justify-content-between p-2">
        <ngb-pagination [collectionSize]="collectionSize" [pageSize]="pageSize" [(page)]="page" [maxSize]="10" [rotate]="true" (pageChange)="loadPage($event)"></ngb-pagination>
      </div>
    </div>
  </div>